<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.sdfood">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:name="com.wang.sdfood.application.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--收藏Activity-->
        <activity android:name=".activity.CollectActivity">

        </activity>
        <!--评论Activity-->
        <activity android:name=".activity.DiscussActivity">

        </activity>
        <!--菜系列表Activity-->
        <activity android:name=".activity.FoodListActivity">
        </activity>
        <!--菜系详情Activity-->
        <activity android:name=".activity.FoodDetailActivity">
        </activity>
        <!--厨具的的详情Activity-->
        <activity android:name=".activity.MegcookActvity">
        </activity>
        <!--登录界面-->
        <activity android:name=".activity.LoginActivity">
        </activity>
        <!--注册界面-->
        <activity android:name=".activity.RegisterActivity">
        </activity>

        <!--食物内容的Activity-->
        <activity android:name=".activity.FoodCommentActivity">

        </activity>
        <!--用户的菜谱Activity-->
        <activity android:name=".activity.UserRecipeActivity">

        </activity>
        <!--厨具详情的Activity-->
        <activity android:name=".activity.MegCookDetailActivity">

        </activity>
        <!--最新作品的Activity-->
        <activity android:name=".activity.LabelNewWorkActivity">

        </activity>

        <!--搜索的透明Activity-->
        <!--<activity android:name=".activity.SearchTranSparentActivity"
            android:label="@string/app_name"
            android:theme="Theme">

        </activity>-->

        <!--数据库的操作-->
        <meta-data android:name="AA_DB_NAME" android:value="SDfood.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
    </application>

</manifest>
